body{
  margin: 0;
  height: 100%;
}
.navbar-default {
    background-color: #060923;
    border-color: #060923;
    border-radius: 0;
    margin-bottom: 0px;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-brand {
    padding: 6px 15px;
}
.navbar-brand>img {
    with: 80%;
}
#index .header-section {
    background-image: url('../images/background-image.jpg');

}
.header-section {
    width: 100%;
    height: calc(80vh - 30px);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0px;
}
#index .introduction>img {
    margin-bottom: -83px;
    display: flex;
    top: 36px;
    left: 100px;
}
p {
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    margin-top: 90px;
    padding-right: 50px;
}
form {
    float: right;
    position: relative;
    right: 250px;
}
.checkbox {
    float: right;
    position: relative;
    right: 126px;
    bottom: 50px;
}
footer{
  padding: 50px auto;
  margin:0;
}
